/* Overview: Video Block */

.overview-video-block {
    color: #bbb;
    background-color: #444;
    padding: 0 0 70px 0;
}

/* Overview: Steps Block */

.overview-steps-block {
    padding: 20px 0 30px;
    text-align: center;
}

.overview-steps-each {
    color: inherit;
    display: block;
    margin: 10px 0;
}

.overview-step-graphic {
    max-width: 200px;
    max-height: 100%;
}

.overview-steps-info {
    text-transform: uppercase;
}

.wrench-graphic:hover .wrench-graphic-section {
    fill: #bbb;
}

.watch-graphic:hover .watch-graphic-section, .chart-graphic:hover .chart-graphic-section {
    fill: #9D67AD;
}

@media only screen and (min-width: 600px) {
    .overview-steps-each {
        width: 33.33%;
        float: left;
    }
}


/* Overview: */

.overview-usage-each {
    color: #fff;
    overflow-x: hidden;
}

.overview-usage-each:nth-of-type(odd) {
    background-color: #555;
}

.overview-usage-each:nth-of-type(even) {
    background-color: #444;
}

.overview-usage-info ul {
    font-weight: 300;
    padding: 20px;
}

@media only screen and (min-width: 700px) {
    .overview-usage-each {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
    }

    .overview-usage-each:nth-of-type(even) {
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .overview-usage-info, .overview-usage-img {
        float: left;
        width: 50%;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
    }

    .overview-usage-each:nth-of-type(even) .overview-usage-info {
        float: right;
    }

    .overview-usage-info ul {
        font-size: 120%;
    }

    .overview-usage-each:nth-of-type(odd) .overview-usage-info ul {
        text-align: right;
    }
}


/* Overview: Theme Block */

.overview-theme-block {
    padding: 20px 0 0 0;
}

.table-theme th {
    color: #fff;
    font-weight: 300;
    background-color: #9D67AD;
}

.table-theme td {
    vertical-align: middle;
}

.table-theme tr td:first-of-type, .table-theme tr td:last-of-type {
    font-size: 140%;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}


/* Overview: Call to Action */

.overview-sign-up-block {
    background-image: url("images/bg/light-sharp-edges.png");
    background-repeat: repeat;
    padding: 20px 0 40px;
    margin: 40px 0 0 0;
}

