<div>
    <main class="main">
        <div class="background-block background-block--contact">
            <section class="container-mid">
                <div class="background-block-content address-block">
                    <div class="heading-block">
                        <h1 class="heading-primary">Get in touch</h1>
                        <div class="sub-heading">We're in an old heritage building, fringed with palm trees, surrounded by beautiful views.</div>
                    </div>
                    <h2 class="heading-secondary">Our Location</h2>
                    <p><span class="icon-location_on icon-left"></span> Lake Avenue</p>
                    <p><a href="mailto:hello@sidona.com">hello@sidonat.com</a></p>
                </div> <!-- /address-block -->
            </section>
            <div class="overlay"></div>
        </div> <!-- /background-block -->

        <div class="email-block">
            <div class="container-main">
                <div class="grid-parent">
                    <div class="grid-child email-each">
                        <div class="email-each-type">Jobs</div>
                        <a href="mailto:job@sidona.com">
								<span class="icon-round-wrap">
									<span class="icon-mail dead-center"></span>
								</span>
                            <div><strong>jobs@sidona.com</strong></div>
                        </a>
                    </div> <!-- /email-each -->

                    <div class="grid-child email-each">
                        <div class="email-each-type">Support</div>
                        <a href="mailto:support@sidona.com">
								<span class="icon-round-wrap">
									<span class="icon-mail dead-center"></span>
								</span>
                            <div><strong>support@sidona.com</strong></div>
                        </a>
                    </div> <!-- /email-each -->

                    <div class="grid-child email-each">
                        <div class="email-each-type">Theme creation</div>
                        <a href="mailto:create@sidona.com">
								<span class="icon-round-wrap">
									<span class="icon-mail dead-center"></span>
								</span>
                            <div><strong>create@sidona.com</strong></div>
                        </a>
                    </div> <!-- /email-each -->
                </div> <!-- /grid-parent -->
            </div><!-- /container-main -->
        </div> <!-- /email-block -->

        <div class="map-google-embed">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1548629.9229105124!2d-73.979681!3d40.703313!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2s!4v1438428239982" width="800" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="social-block">
            <div class="container-main">
                <a href="" class="social-icon-each color-twitter icon-round-wrap" aria-label="Twitter Link">
                    <span class="icon-twitter dead-center"></span>
                </a>

                <a href="" class="social-icon-each color-facebook icon-round-wrap" aria-label="Facebook Link">
                    <span class="icon-facebook dead-center"></span>
                </a>

                <a href="" class="social-icon-each color-google icon-round-wrap" aria-label="Google Plus Link">
                    <span class="icon-google-plus dead-center"></span>
                </a>

                <a href="" class="social-icon-each color-skype icon-round-wrap" aria-label="Skype Link">
                    <span class="icon-skype dead-center"></span>
                </a>
            </div> <!-- /container-main -->
        </div> <!-- /social-block -->
    </main>
</div>