<div>
    <main class="main">
        <section class="container-main">
            <h1 class="heading-primary">Built with LiquidApt</h1>
            <div class="featured-block">
                <ul class="grid-parent ul-base">
                    <li class="featured-each grid-child">
                        <a href="" class="featured-each-link">
                            <div class="featured-img-block">
                                <img src="images/featured/mark-directive.jpg" alt="One Step Ahead" class="featured-each-img" width="336" height="530">
                            </div>
                            <div class="featured-each-info">
                                <div class="featured-info-title">One Step Ahead</div>
                                <div class="featured-info-name">Mark </div>
                            </div>
                        </a>

                    <li class="featured-each grid-child">
                        <a href="" class="featured-each-link">
                            <div class="featured-img-block">
                                <img src="images/featured/julie-astral.jpg" alt="Wedding visions" class="featured-each-img" width="336" height="530">
                            </div>
                            <div class="featured-each-info">
                                <div class="featured-info-title">Wedding visions</div>
                                <div class="featured-info-name">Julie </div>
                            </div>
                        </a>

                    <li class="featured-each grid-child">
                        <a href="" class="featured-each-link">
                            <div class="featured-img-block">
                                <img src="images/featured/ramesh-parallelism.jpg" alt="Everything.is.now" class="featured-each-img" width="336" height="530">
                            </div>
                            <div class="featured-each-info">
                                <div class="featured-info-title">Everything.is.now</div>
                                <div class="featured-info-name">Ramesh</div>
                            </div>
                        </a>

                    <li class="featured-each grid-child">
                        <a href="" class="featured-each-link">
                            <div class="featured-img-block">
                                <img src="images/featured/jason-photon.jpg" alt="Portraiture" class="featured-each-img" width="336" height="530">
                            </div>
                            <div class="featured-each-info">
                                <div class="featured-info-title">Portraiture</div>
                                <div class="featured-info-name">Jason </div>
                            </div>
                        </a>

                    <li class="featured-each grid-child">
                        <a href="" class="featured-each-link">
                            <div class="featured-img-block">
                                <img src="images/featured/selvin-escape-velocity.jpg" alt="Dream Blur" class="featured-each-img" width="336" height="530">
                            </div>
                            <div class="featured-each-info">
                                <div class="featured-info-title">Dream Blur</div>
                                <div class="featured-info-name">Selvin </div>
                            </div>
                        </a>

                    <li class="featured-each grid-child">
                        <a href="" class="featured-each-link">
                            <div class="featured-img-block">
                                <img src="images/featured/meredith-dopetrope.jpg" alt="Showreel" class="featured-each-img" width="336" height="530">
                            </div>
                            <div class="featured-each-info">
                                <div class="featured-info-title">Showreel</div>
                                <div class="featured-info-name">Meredith</div>
                            </div>
                        </a>
                </ul>
            </div> <!-- /featured-block -->
        </section> <!-- /container-main -->

        <section class="form-site-block">
            <div class="container-mid">
                <div class="heading-block">
                    <h2 class="heading-secondary">project?</h2>
                    <div class="sub-heading">Let us know and we'll add you to our list.</div>
                </div>

                <form action="#" class="form-site">
                    <div class="grid-parent">
                        <div class="grid-child form-site-each">
                            <div class="field-block">
                                <label for="field-site-name" class="label label-required">Your name</label>
                                <input type="text" class="input-text input-required" id="field-site-name">
                            </div>

                            <div class="field-block">
                                <label for="field-site-email" class="label label-required">Your email</label>
                                <input type="email" class="input-text input-required" id="field-site-email">
                            </div>

                            <div class="field-block">
                                <label for="field-site-role" class="label label-required">Your profession</label>
                                <input type="text" class="input-text input-required" id="field-site-role">
                            </div>
                        </div> <!-- /form-site-each -->

                        <div class="grid-child form-site-each">
                            <div class="field-block">
                                <label for="field-join-skill" class="label label-required"> your site</label>
                                <textarea id="field-join-skill" class="input-text"></textarea>
                            </div>
                            <div class="field-block center">
                                <input type="submit" value="Get in touch" class="button full-width">
                            </div>
                        </div> <!-- /form-site-each -->
                    </div> <!-- /grid-parent -->

                </form>
            </div>
        </section> <!-- /form-site-block -->

    </main>
</div>