<header class="header">
    <div class="clearfix">
        <div class="logo-block grid-child">
            <a ui-sref="home" class="logo">Home</a>
        </div>
        <a href="" class="nav-trigger icon-menu"></a>
        <nav class="nav-block">
            <ul class="ul-base nav">
                <li><a ui-sref="overview">Overview</a></li>
                <li><a ui-sref="team">Team</a></li>
                <li><a ui-sref="featured">Featured</a></li>
                <li><a ui-sref="contact">Contact</a></li>
                <li><a href="#signUp" class="button button-signup-trigger"><strong>Sign-up</strong></a></li>
            </ul>
        </nav>
    </div>
</header>