<main class="main">
    <section class="container-main">
        <div class="center">
            <div class="banner-home">
                <div class="heading-block">
                    <h1 class="heading-primary heading-primary--banner">Drag . Drop . Build.</h1>
                    <div class="sub-heading sub-heading--banner">Create a free, responsive site in minutes!</div>
                </div>
                <div class="banner-img-block clearfix">
                    <img src="images/featured/selvin-escape-velocity.jpg" alt="Banner Home: 1" class="banner-img banner-img-1" width="280">
                    <img src="images/featured/ramesh-parallelism.jpg" alt="Banner Home: 2" class="banner-img banner-img-2" width="280">
                    <img src="images/featured/jason-photon.jpg" alt="Banner Home: 3" class="banner-img banner-img-3" width="280">
                </div> <!-- /banner-img-block -->
                <a ui-sref="overview" class="button button-hollow button-explore">Explore</a>
                <a href="#popup-sign-up" class="button button-signup-trigger">Get Home Now</a>
            </div> <!-- /banner-home -->
        </div> <!-- /center -->
    </section> <!-- /container-main -->
</main>